/*----css di prova per documentazione --*/


/*----- FONT -----*/
@font-face {
	font-family: "lek";
	src: url(font/home/Lekton-Regular.ttf);
}


/*----- BODY -----*/
body {
	font-family: "lek" !important;
}


/*----- HEADLINES -----*/
h1 {
	font-family: "lek";
	text-transform: uppercase;
}

#h_disc {
	color: #f2b579;
}


.row{
	margin-top: 2%;
	text-align: justify;
}

.container {
	margin: 7.5% 2% 7.5% 2%;

}

#separator_0 {
	background-color: brown;
}
#separator_1 {
	background-color: red;
}
#separator_2 {
	background-color: yellow;
}
#separator_3 {
	background-color: green;
}
#separator_4 {
	background-color: blue;
}

h1 {
	text-align: center;
	color: red;
}

.about {
	margin-right: 25%;
	margin-left: 25%;
}


