/* css medievale prova */

body {
	background-color: white;
	background-image: url(table.jpg);
}
article section {
	background-image: url(immagine_1.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 8%;
	padding-top:8%;
}