/* css medievale prova */

@font-face{
	font-family: "proto-roman";
	src: url(font/medieval/Sweynheim&Pannartz-ProtoRoman115R.otf);
}
@font-face{
	font-family:"cursive-humanistic";
	src: url(font/humanistic/Humanistic_Cursive.ttf);
}
@font-face{
	font-family: "initial";
	src: url(font/humanistic/initial.ttf);
}

body {
	background-color: white;
	background-image: url(table.jpg);
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10%;
	margin-bottom: 10%;
}
article  {
	background-image: url(immagine.png);
	background-size: 100%;
	background-repeat: repeat;
	background-position: center;
	padding-left: 8%;
	padding-right: 8%;
	padding-bottom: 13%;
	padding-top: 13%;
	text-align: justify;
	letter-spacing: 1px;
	word-break:normal;

}
section{
	column-count: 2;
	column-gap: 10%;
}
section::first-letter {
	font-family: "initial";
	font-size: 64px;
	line-height: 32px;
	float: left;
	padding-top: 16px;
	font-weight: 400 !important;
}
header {
	text-align: center;

}

figure{

}
img {
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
p{
	font-family: "proto-roman";
	font-size: 16px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.7);
}

h1 {
	font-family: "proto-roman";
	font-size: 48px;
	text-transform: uppercase;
}
h2 {
	font-family: "proto-roman";
	font-size: 36px;
	text-transform: uppercase;
}

h3 {
	font-family: "proto-roman";
	font-size: 18px;
	text-transform: uppercase;
}

h3 {
	font-family: "proto-roman";
	font-size: 14px;
	text-transform: uppercase;
}

em {
   font
}