/* css medievale prova */

body {
	background-color: white;
	background-image: url(table.jpg);
}
article  {
	background-image: url(immagine_1.jpg);
	background-size: 1000px 1000px;
	background-position: center;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 8%;
	padding-top:8%;
}