@media (max-width:305px) {
		.btn-group-toggle{
		padding-top:5px;
}
}

@media (max-width:250px) {
		.btn-group-toggle{
		flex-flow: column wrap;
}
}


@font-face {
	font-family: "impact";
	src: url(font/Impact Label Reversed.ttf);
}


h1 {
	font-family: "impact";
}


iframe {
		border: 0;
		overflow: hidden;
		height: 100%;
		left: 0;
		top: 0;
		width: 85%;
		display: block;
		
}

