@media (max-width:305px){
		.btn-group-toggle{
		padding-top:5px;
		}
@media (max-width:250px){
		.btn-group-toggle{
		flex-flow: column wrap;
		}




.iframe-container {
	overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    margin-top: 2rem;
}
 
.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

